# Eclipse-specific
.project
.classpath
.settings/
.metadata/

# Build folders
bin/
target/
build/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled class files
*.class

# Maven
.mvn/
!**/src/main/**/.keep

# Gradle
.gradle/
build/

# IntelliJ (혹시 같이 쓰는 경우)
*.iml
.idea/

# Other
*.tmp
*.bak
*.swp
